*{
    margin: 0;
    padding: 0;

}
body{
    background-color:rgba(76,208,118,1);
    display: flex;
    justify-content: center;
}
form{
    display: flex;
    flex-direction: column;
    min-width: 69.9%;
    max-width: 70%;
}
h1{
    text-align: center;
    color: antiquewhite;
    font-size: 3em;
}
h3{
    margin-left: 0.5em;
    color: antiquewhite;
    font-size: 2em;
}
.box{
    padding: 2% 4% 2% 4%;
    margin: 0.5% 0;
    border: solid 2px antiquewhite;
    border-radius:0.5em ;
    color: antiquewhite;
    background-color:rgba(255,255,255,0.25);
    display: flex;
    justify-content: space-between;

}
.subtitle{
   margin-right: 0.5%;
    display: flex;
    align-items: center;
    font-size: 1.3em;

}
input{
    border: none;
    border-radius: 0.2em;
    padding: 0.5% 20% 0.5% 0.5% ;

}

select{
    border: none;
    border-radius: 0.2em;
    padding: 0.45% 28% 0.45% 0;

}

textarea {
    border: none;
    border-radius: 0.2em;
    resize: none;
    padding: 0 16% 0 0;


}
.lwrite{
    font-size: 1.3em;
}
.btn{
    background:rgba(33,104,104,1);
    color: antiquewhite;
    font-size: medium;
    margin: 0.5em auto;
    text-align: center;
    padding: 1em;

}

@media screen and (max-width: 900px) {

    h1{
        font-size:medium;
    }
    h3{
        font-size: small;
    }
   .box {
        padding: 3% 0;
       display: flex;
       flex-direction: column;
       justify-content: center;
       margin-bottom: 3%;


   }
    .inbox{
        margin: auto;
        max-width: 70px;
    }
    .subtitle {
        padding: 0 0 1% 0;
        flex-direction: column;
        justify-content: center;
        font-size: smaller;


    }
    select {

        margin: auto;
        padding-right:13% ;

    }
    .lwrite{
        text-align: center;
        font-size: small
    }
    textarea{
        justify-content: center;
        text-align: center;
       margin: auto;
       max-width: 50%;
    }
    .btn{
        background:rgba(33,104,104,1);
        color: antiquewhite;
        font-size: small;
        padding: 2% 20%;
        margin: 0.5em auto;
        text-align: center;




    }
}